body {
    font-family: Arial, sans-serif;
    background: #DDF4E7;
    margin: 0;
    padding: 0;
}

.login-container,
.dashboard-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #b2e4c8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2,
h3 {
    text-align: center;
}

input {
    display: block;
    width: 95%;
    margin: 10px 0 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    background: #55ad7c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #76cb9b;
}

.error {
    color: red;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
}